<template name = "home">

  <head>
    <meta charset="UTF-8">
    <title>landing page</title>



    <link rel='stylesheet prefetch' href='https://cdn.rawgit.com/Dogfalo/materialize/master/dist/css/materialize.min.css'>

        <link rel="stylesheet" href="../css/style.css">




  </head>

<body>
  <div class="container about">
         <h5>Welcome to the Campaign!</h5>
         <h6></h6>


         <object data="http://www.youtube.com/v/bjfM4Wrj9UI?rel=0&autoplay=1" style="height: 732px; width: 900px;" type="application/x-shockwave-flash"> <param name="movie" value="http://www.youtube.com/v/bjfM4Wrj9UI" /></object>




         <div class="row">
           <div class="col s12 m4 l4">

             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
           <div class="col s12 m4 l4">

             <div class="card blue-grey darken-1">

               <div class="card-action">
                 <a href='/index'>Enter Site</a>
               </div>
             </div>
           </div>
           <div class="col s12 m4 l4">

             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
             <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
           </div>
         </div>
       </div>
</body>
</template>
